.container {
  width: 640px;
  margin: 0 auto;
}

.container h2 {
  height: 0;
  font-size: 1em;
  line-height: 0;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid #a7adba;
  margin-top: 3em;
  margin-bottom: 1.2em;
  cursor: default;
  user-select: none;
}

.container h2 span {
  background-color: #fff;
  padding-left: 0.5em;
  padding-right: 0.5em;
  color: #a7adba;
}

.container ul {
  padding: 0;
}

.container ul li {
  list-style: none;
  margin-bottom: 20px;
  color: #343d46;
}

.container ul li a {
  text-decoration: underline;
  color: #343d46;
}
