html,
body {
    min-height: 100vh;
    padding-top: 1px;
    margin: 0;
}

.with-footer {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.with-footer .full-content {
    flex: 1;
}