header
  .description
  p.name Alander Lin
  p.desc 可能这有点丢脸，但我并没有丢掉我的心
  nav
    ul
      li
        a(href="javascript:void(0)") 文章
      li
        a(href="javascript:void(0)") 时间轴
      li
        a(href="javascript:void(0)") 关于我