doctype html
html
  head
    title Alander
    link(rel="stylesheet" href="/libs/highlights/styles/atom-one-dark.css")
    link(rel="stylesheet" href="/assets/styles/header.css")
    link(rel="stylesheet" href="/assets/styles/footer.css")
    link(rel="stylesheet" href="/assets/styles/font.css")
    link(rel="stylesheet" href="/assets/styles/blog.css")
    link(rel="stylesheet", href="/assets/styles/markdown.css")
  body
    include ./components/header.pug
    .markdown-body !{data}
      //- h1.title #{title}
      
    include ./components/footer.pug
    script(src="/libs/highlights/index.js")
    //- script(src="/assets/scripts/highLight.js")